themes/auto/inc/about.html
<div class="about">
    <div class="container">
        <div class="about__title">
            <h1 class="title -blue wow fadeInDown">
                <span class="title__box">
                    <span class="title__first"></span>
                    <span class="title__second">{$page.title}</span>
                </span>
            </h1>
        </div>
        <div class="about__content wow bounceInLeft">
            <div class="about__contentText">
                {$page.content}
            </div>
        </div>
        <div class="about__buttonBox wow bounceInUp">
            <div class="about__button">
                <a class="button -blue" href="{$bat.path}/blog">Zobacz więcej</a>
            </div>
        </div>
    </div>
</div>

themes/auto/template/src/components/about/about.pug
.about
  .container
    .about__title
      include ../title/title-blue

    .about__content.wow.bounceInLeft
      h6.about__contentTitle Drogi kliencie

      .about__contentText
        +lorem(60)

    .about__buttonBox.wow.bounceInUp
      .about__button
        include ../button/button-blue

      .about__buttonSpace lub

      .about__button
        include ../button/button-hollow
